{#
/**
 * @file
 * Theme for nodes rendered as a single RSS feed.
 *
 * Available variables:
 * - link: The link to the feed (the view path).
 * - namespaces: The XML namespaces (added automatically).
 * - title: The title of the feed (as set in the view).
 * - description: The feed description (from feed settings).
 * - langcode: The language encoding.
 * - channel_elements: The formatted channel elements.
 * - items: The feed items themselves.
 *
 *
 */
#}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xml:base="{{ link }}">
  <channel>
    <title>{{ title }}</title>
    <link>{{ link }}</link>
    <description>{{ description }}</description>
    <language>{{ langcode }}</language>
    <atom:link href="{{ channel_link }}" rel="self" type="application/rss+xml" />
    <item>
      <title>{{ node_title }}</title>
      <link>{{ node_url }}</link>
      <pubDate>{{ node_created }}</pubDate>
      <guid>{{ node_guid }}</guid>
      <description><![CDATA[
        {{- node_description|raw -}}
        ]]></description>
    </item>

  </channel>
</rss>
